info.txt




::wq
::ww::wq
wq

esc :wq
esc :wq!



[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[A[B[B[B[B[B[B[B[B[B[B[B[B[B[B[B[C[[A[C[C[[B[B[C[C[B[B[C[C[C[C[[B[C[C[C[C[C[[A[A[A[A[A[A[A[A[A[B[B
[A[A[A


